.profile {
  margin: 20px;
  width: 200px;

  background-color: rgba(166, 237, 251, 0.284);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.avatar {
  border-radius: 50%;
  width: 50%;
}

.description {
}

.stats {
  display: flex;
}
